.error {
  text-transform: capitalize;
  color: $error_color;
  font-weight: bold;
  opacity: 1;
  margin-top: 0.1rem;
}

.login_button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 0.9rem;
  background: transparent;
  border: 0.1rem solid $primary_color;
  color: $primary_color;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $primary_color;
    border: 0.1rem solid$login_button_primary;
    color: $login_button_primary;
  }
}

.register_button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 0.9rem;
  background: transparent;
  border: 0.1rem solid $primary_color;
  color: $primary_color;
  text-decoration: none;
  &:hover,
  &:focus {
    background-color: $primary_color;
    border: 0.1rem solid $register_button_primary;
    color: $register_button_primary;
  }

}
