.error {
  text-transform: capitalize;
  color: $failure;
  font-weight: bold;
  opacity: 1;
  margin-top: 0.1rem;
}

.login_button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 0.9rem;
  background: $button_background;
  border: 0.1rem solid $success;
  color: $success;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $success;
    border: 0.1rem solid $button_background;
    color: $button_background;
  }
}

.register_button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 0.9rem;
  background: $button_background;
  border: 0.1rem solid $register_button_primary;
  color: $register_button_primary;
  text-decoration: none;
  &:hover,
  &:focus {
    background-color: $register_button_primary;
    border: 0.1rem solid $primary_color;
    color: $primary_color;
  }

}

.delete_button{
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 0.9rem;
  background: $primary_color;
  border: 0.1rem solid $failure;
  color: $failure;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $failure;
    border: 0.1rem solid $primary_color;
    color: $primary_color;
  }
}

.edit_button{
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.7rem 0.9rem;
  background: $primary_color;
  border: 0.1rem solid $warning;
  color: $warning;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $warning;
    border: 0.1rem solid $primary_color;
    color: $primary_color;
  }
}