.transparent_text {
  opacity: 0;
}

.error {
  text-transform: capitalize;
  color: red;
  font-weight: bold;
  opacity: 1;
  margin-top: 2px;
}

.inactive_container {
  transition: all 0.5s ease;
  transform: scale(0);
}

.login_container {
  & > h1 {
    text-transform: capitalize;
    padding-bottom: 15px;
    text-align: center;
  }
  .close_button {
    &:hover{
color: #ff7e33;
    }
    position: absolute;
    top: 1rem;
    right: -10.5rem;
    width: 200px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  transition: all 0.5s ease;
  transform: scale(1);
  backdrop-filter: blur(2px);
  background: rgba($color: #a3a3a3, $alpha: 0.5);
  box-shadow: 3px 3px 6px #000000;
  border-radius: 2%;
  padding: 2rem 2.5rem 2rem 2.5rem;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .email,
  .password {
    background: none;
    border: none;
    border-bottom: 1.5px solid white;
    padding: 5px 10rem 5px 5px;
  }

  .input_field {
    margin-top: 4px;
  }
}
.login_button {
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid white;
  &:hover {
      background-color: white;
      border: 2px solid#ff7e33;
      color: #ff7e33;
  }
}
