
.navbar_text {
  text-decoration: none;
  margin-right: 1rem;
  color: $black;
  &:hover,
  &:focus {
    cursor: pointer;
    color: $focus_color;
  }
}

.navbar_active {
  transition: none;
  padding-bottom: 1.45rem;
  border-bottom: 0.2rem solid $focus_color;
}

.navbar_title {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: $black;
  &:hover,
  &:focus {
    cursor: pointer;
    color: $focus_color;
  }
}

.login {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: $login_button_primary;
  border: 0.1rem solid $primary_color;
  border-radius: 0.2rem;
  color: $primary_color;
  text-decoration: none;
  &:hover,
  &:focus {
    outline: none;
    background-color: $primary_color;
    border: 0.1rem solid$login_button_primary;
    color: $login_button_primary;
  }
}
