.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary_color;
  padding: 15px 25px 25px 15px;
}

.navbar_item {
  display: inline;
}

.navbar_text {
  text-decoration: none;
  margin-right: 15px;
  color: black;
  &:hover {
    cursor: pointer;
    color: $navbar_hover;
  }
}

.navbar_title {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
  &:hover {
    cursor: pointer;
    color: $navbar_hover;
  }
}

.login {
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px 20px;
  background: $login_button_primary;
  border: 2px solid $primary_color;
  border-radius: 3px;
  color: $primary_color;
  text-decoration: none;
  &:hover, &:focus {
    outline: none;
    background-color: $primary_color;
    border: 2px solid$login_button_primary;
    color: $login_button_primary;
  }
}