.sidebar {
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 8rem;
  left: 0;
  top: 3.9rem;
  background-color: $primary_color;
  overflow-x: hidden;
  padding: 1rem;

  .sidebar_item {
    margin-top: 1rem;
    & a {
      color: $black;
      text-decoration: none;
    }
    &:hover,
    a:hover {
      color: $focus_color;
      cursor: pointer;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}
