.sidebar {
  z-index: 10;
  position: absolute;
  height: 87.3vh;
  left: 0;
  top: 3.9rem;
  background-color: $primary_color;
  padding: 1rem 1.3rem;
  overflow: hidden;
  .sidebar_item {
    margin-top: 1rem;
    & a {
      color: $black;
      text-decoration: none;
    }
    &:hover,
    a:hover {
      color: $focus_color;
      cursor: pointer;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}
.sidebar_active {
  transition: none;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid $focus_color;
}