@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 20px;
  transition: all 0.3s linear;
}

*:focus {
  outline: none;
}

body {
  background: url("https://wallpaperaccess.com/full/38598.jpg") no-repeat;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus::-webkit-input-placeholder {
  color: #ffbb93;
}

/* Firefox < 19 */
input:focus:-moz-placeholder {
  color: #ffbb93;
}

/* Firefox > 19 */
input:focus::-moz-placeholder {
  color: #ffbb93;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
  color: #ffbb93;
}

:focus::-webkit-input-placeholder {
  color: #ffbb93;
}

:focus:-moz-placeholder {
  color: #ffbb93;
}

​ button:focus {
  outline: none;
}

.navbar_text {
  text-decoration: none;
  margin-right: 1rem;
  color: #2b2b2b;
}
.navbar_text:hover, .navbar_text:focus {
  cursor: pointer;
  color: #ffbb93;
}

.navbar_active {
  padding-bottom: 1.45rem;
  border-bottom: 0.2rem solid #ffbb93;
}

.navbar_title {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #2b2b2b;
}
.navbar_title:hover, .navbar_title:focus {
  cursor: pointer;
  color: #ffbb93;
}

.login {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: #ff7e33;
  border: 0.1rem solid white;
  border-radius: 0.2rem;
  color: white;
  text-decoration: none;
}
.login:hover, .login:focus {
  outline: none;
  background-color: white;
  border: 0.1rem solid #ff7e33;
  color: #ff7e33;
}

.error {
  text-transform: capitalize;
  color: red;
  font-weight: bold;
  opacity: 1;
  margin-top: 0.1rem;
}

.login_button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 0.9rem;
  background: transparent;
  border: 0.1rem solid white;
  color: white;
  text-decoration: none;
}
.login_button:hover, .login_button:focus {
  background-color: white;
  border: 0.1rem solid #ff7e33;
  color: #ff7e33;
}

.register_button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 0.9rem;
  background: transparent;
  border: 0.1rem solid white;
  color: white;
  text-decoration: none;
}
.register_button:hover, .register_button:focus {
  background-color: white;
  border: 0.1rem solid #4133ff;
  color: #4133ff;
}

.page_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem;
  margin-top: 2rem;
  color: white;
}

.form_page_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sidebar {
  z-index: 10;
  position: absolute;
  height: 87.3vh;
  left: 0;
  top: 3.9rem;
  background-color: white;
  padding: 1rem 1.3rem;
  overflow: hidden;
}
.sidebar .sidebar_item {
  margin-top: 1rem;
}
.sidebar .sidebar_item a {
  color: #2b2b2b;
  text-decoration: none;
}
.sidebar .sidebar_item:hover,
.sidebar .sidebar_item a:hover {
  color: #ffbb93;
  cursor: pointer;
}
.sidebar .sidebar_item:first-child {
  margin-top: 0;
}

.posts {
  max-height: 75vh;
  list-style: none;
  overflow-y: scroll;
  min-width: 68vw;
}

.post {
  margin-bottom: 3rem;
}

.post_header {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.post_author {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=index.css.map */
