* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Helvetica;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/38598.jpg");
}
::placeholder {
  color: rgba($color: white, $alpha: 0.6);
}

button:focus,
input:focus {
  outline: none;
}

@import "./formStyle";
@import "./navbar";
