$register_button_primary: #4133ff;
$login_button_primary: #ff7e33;
$login_container_background: rgba(
  $color: #a3a3a3,
  $alpha: 0.5,
);
$focus_color:  #ffbb93;
$primary_color: white;
$shadow_color: black;
$error_color: red;
$navbar_hover: #ff7e33;

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 20px;
}
*:focus {
  outline: none;
}

body {
  background-color: black;
  background-image: url("https://wallpaperaccess.com/full/38598.jpg");
  background-repeat: no-repeat;
}

::placeholder {
  color: rgba($color: $primary_color, $alpha: 0.6);
}

input:focus::-webkit-input-placeholder {
  color:$focus_color;
}

/* Firefox < 19 */
input:focus:-moz-placeholder {
  color:$focus_color;
}

/* Firefox > 19 */
input:focus::-moz-placeholder {
  color:$focus_color;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
  color:$focus_color;
}

:focus::-webkit-input-placeholder { color:$focus_color; }
:focus:-moz-placeholder { color:$focus_color; }​
button:focus {
  outline: none;
}
@import "./navbar";
@import "./formStyle";
@import "./page";
