* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 20px;
}

body {
  background-color: black;
  background-image: url("https://wallpaperaccess.com/full/38598.jpg");
  background-repeat: no-repeat;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

button:focus {
  outline: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 25px 25px 15px;
}

.navbar_item {
  display: inline;
}

.navbar_text {
  text-decoration: none;
  margin-right: 15px;
  color: black;
}
.navbar_text:hover {
  cursor: pointer;
  color: #ff7e33;
}

.navbar_title {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.navbar_title:hover {
  cursor: pointer;
  color: #ff7e33;
}

.login {
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px 20px;
  background: #ff7e33;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}
.login:hover, .login:focus {
  outline: none;
  background-color: white;
  border: 2px solid #ff7e33;
  color: #ff7e33;
}

.error {
  text-transform: capitalize;
  color: red;
  font-weight: bold;
  opacity: 1;
  margin-top: 2px;
}

.form_container {
  margin-top: 200px;
  color: white;
  transition: all 0.3s ease;
  opacity: 1;
  backdrop-filter: blur(2px);
  background: rgba(163, 163, 163, 0.5);
  box-shadow: 3px 3px 6px black;
  border-radius: 2%;
  padding: 2rem 2.5rem 2rem 2.5rem;
}
.form_container .form_header {
  text-transform: capitalize;
  padding-bottom: 15px;
  text-align: center;
}
.form_container .user_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_container .user_form .text_input {
  background: none;
  border: none;
  border-bottom: 1.5px solid white;
  padding: 5px 10rem 5px 5px;
  flex-grow: 1;
}
.form_container .user_form .input_field {
  margin-top: 4px;
}
.form_container .login_button {
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}
.form_container .login_button:hover, .form_container .login_button:focus {
  background-color: white;
  border: 2px solid #ff7e33;
  color: #ff7e33;
}
.form_container .register_button {
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}
.form_container .register_button:hover, .form_container .register_button:focus {
  background-color: white;
  border: 2px solid #4133ff;
  color: #4133ff;
}
.form_container .buttons_container li {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  list-style-type: none;
}

.contact_container {
  margin-top: 20vh;
  color: white;
  transition: all 0.3s ease;
  backdrop-filter: blur(2px);
  background: rgba(163, 163, 163, 0.5);
  box-shadow: 3px 3px 6px black;
  border-radius: 2%;
  padding: 2rem 2.5rem 2rem 2.5rem;
}
.contact_container .contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_container .contact_form .contact_header {
  text-align: center;
  margin-bottom: 1rem;
}
.contact_container .contact_form .contact_input {
  color: white;
  background: none;
  border: none;
  border-bottom: 1.5px solid white;
  padding-top: 15px;
  width: 25rem;
  flex-grow: 1;
}
.contact_container .contact_form .contact_message_input {
  color: white;
  resize: vertical;
  margin-top: 10px;
  background: none;
  border: none;
  border-bottom: 1.5px solid white;
  width: 25rem;
  height: 10rem;
}
.contact_container .contact_form .contact_button {
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
}
.contact_container .contact_form .contact_button:hover, .contact_container .contact_form .contact_button:focus {
  background-color: white;
  border: 2px solid #ff7e33;
  color: #ff7e33;
}

.page_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem;
  margin-top: 2rem;
  color: white;
}

.form_page_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
